<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agendar Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agendar Consulta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form>
        <ion-item>
          <ion-label position="stacked">Digite sua localização</ion-label>
          <ion-input type="text" placeholder="Ex: Rua São Paulo, 123"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Especialidade</ion-label>
          <ion-select>
            <ion-select-option value="cardiologia">Cardiologia</ion-select-option>
            <ion-select-option value="dermatologia">Dermatologia</ion-select-option>
            <ion-select-option value="endocrinologia">Endocrinologia</ion-select-option>
            <ion-select-option value="ginecologia">Ginecologia</ion-select-option>
            <ion-select-option value="pediatria">Pediatria</ion-select-option>
            <ion-select-option value="psiquiatria">Psiquiatria</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">Distância máxima</ion-label>
          <ion-input type="number" placeholder="Ex: 5 km"></ion-input>
        </ion-item>
      
      
        <ion-button expand="block">Buscar</ion-button>
    </form>
  </div>
</ion-content>