#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #2990eb, #FFFFFF);
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

form {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 2rem;
  border-radius: 8px;
}

ion-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

ion-input {
  margin-bottom: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ion-button[type=submit] {
  margin-top: 1rem;
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #3880ff;
  color: #fff;
}

ion-button[type=submit]:hover {
  background-color: #3171e0;
}

ion-button[type=submit]:active {
  background-color: #2862c8;
}

#img {
  width: 150px;
}