<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form>
      <h1>Seja bem-vindo</h1>
  <p>Clique em uma das opções do menu para começar.</p>
  <br>
  <img src="assets/appicon-style-heart-flat-icon-.png" id="img">

  
  <div class="ion-padding">
    <a href="https://play.google.com/store/apps/details?id=com.coracaodeouro.espacomedico" target="_blank">
    
    </a>
  </div>
    </form>
  </div>
</ion-content>