<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agendar Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form>
      <h1>Por favor, avalie nosso App do Espaço Médico, Clínica e Pediatria Coração de Ouro</h1>
  <p>Nós gostaríamos de saber a sua opinião para melhorarmos cada vez mais o nosso aplicativo.</p>
  <p>Caso tenha um tempo livre, pedimos que avalie nosso App na Google Play Store.</p>
  
  <div class="ion-padding">
    <a href="https://play.google.com/store/apps/details?id=com.coracaodeouro.espacomedico" target="_blank">
      <ion-button expand="block">Avaliar agora</ion-button>
    </a>
  </div>
    </form>
  </div>
</ion-content>